*.out
*.Xil
*.aux
*.gz
*.pdf
*.exe
*.prj
*.xmsgs
*.cmd
*.dll
*.dat
*.obj
*.didat
*.vdb
*.bat
*.ini
*.sh
*.wdb
*.dgb
*.html
*.sim
*.b##
*.s#*
*.b#*
*.user
*.lof
*.lot
*.toc
*~
AI1/Programs/sokoban/build-main-Desktop-Default
