*.out
*.log
*.runs
*.jou
*.Xil
*.aux
*.gz
*.pdf
*.exe
*.prj
*.xmsgs
*.cmd
*.dll
*.dat
*.obj
*.didat
*.vdb
*.bat
*.ini
*.sh
*.wdb
*.xml
*.dgb
*.html
*.sim
*.b##
*.s#*
*.b#*
*.user
*.lof
*.lot
*.toc
*.vho
*.wpc
*~
AI1/Programs/sokoban/build-main-Desktop-Default
