NET "CLK" LOC = P60;

NET "ALIVE" LOC = P47; # yellow onboard (2nd)

NET "SPI_CLK" LOC = P69; #16
NET "SPI_MISO" LOC = P68; #15
NET "SPI_MOSI" LOC = P71; #17
NET "SPI_CS" LOC = P59; #14

NET "MOTOR_CONTROL[0]" LOC = P93; #J2_21
NET "MOTOR_CONTROL[1]" LOC = P92; #J2_19
NET "MOTOR_CONTROL[2]" LOC = P91; #J2_17
NET "MOTOR_CONTROL[3]" LOC = P90; #J2_15
NET "MOTOR_CONTROL[4]" LOC = P15; #J1_13
NET "MOTOR_CONTROL[5]" LOC = P16; #J1_15
NET "MOTOR_CONTROL[6]" LOC = P18; #J1_17
NET "MOTOR_CONTROL[7]" LOC = P19; #J1_19



NET "XB_SERIAL_I" LOC = P42; #  USB <-> UART (J2_13)
NET "XB_SERIAL_O" LOC = P43; #  USB <-> UART (J2_15)

